
@media screen and (max-width: 768px) {
    .bodyall {
        width: 300px;
        margin: auto;
    }

    .catpicall {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }

    .cat1 {
        display: block;
        width: 100%;
    }

    .para1 {
        text-align: left;
        display: inline-block;
        width: 100%;
    }

    .cat2 {
        width: 30%;
        display: inline-block;
    }

    .cat2mid {
        width: 30%;
        display: inline-block;
        padding-left: 9px;
        padding-right: 9px;
    }

    .part1 {
        outline-style: solid;
        outline-color: lightgrey;
        outline-width: 1px;
        padding: 20px;

    }
}

@media screen and (min-width: 768px) {
    .bodyall {
        width: 980px;
        margin: auto;
    }

    .catpicall {
        padding: 20px;
        padding-left: 50px;
        display: inline-block;
        width: 46%;
        vertical-align: top;
    }

    .cat1 {
        display: block;
        width: 98%;
    }

    .para1 {
        text-align: left;
        display: inline-block;
        width: 40%;
    }

    .cat2 {
        width: 31%;
        display: inline-block;
    }

    .cat2mid {
        width: 31%;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
    }

    .part1 {
        outline-style: solid;
        outline-color: lightgrey;
        outline-width: 1px;

    }

}

.cat2all {
    padding-top: 10px;
}

.part3 {
    outline-style: solid;
    outline-color: lightgrey;
    outline-width: 1px;
    padding: 1px 20px 1px 20px;
}

.part4 {
    outline-style: solid;
    outline-color: lightgrey;
    outline-width: 1px;
    padding: 1px 20px 1px 20px;
}

.font1 {
    font-family: Arial;
}

.tablefont {
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
}

.part2 {
    outline-style: solid;
    outline-color: lightgrey;
    outline-width: 1px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}

table {
    border-collapse: collapse;
}

.separating_line {
    border-top: 1px lightgrey solid;
}

#checkin1 {
    background-color: dodgerblue;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}
